---
layout: ibommaa
title: Home
---

{% if page.url == "/" %}

<!-- Telugu 
================================================== -->
<h3 class="latest-u">
<span class="icon-rss"></span>Telugu Movies</h3>
{% for post in site.categories.Telugu limit:6 %}
 <article id="post-11368" class="post hentry">
<div class="post-thumb">
<a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">
{% if post.image %}
<img width="230" height="345" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}" class="entry-thumb wp-post-image" alt="" loading="lazy"> 
 {% endif %}
</a></div>
<h2 class="entry-title">
<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
<!--<span>2022</span>-->
</h2>
  <div class="clear"></div>
</article>
{% endfor %}
{% endif %}
<!-- Posts Index
================================================== -->
<div class="clear"></div>
<h3 class="latest-u">
<span class="icon-rss"></span>Recent Movies</span></h3>

        {% for post in paginator.posts %}

        {% include ibomma.html %}

        {% endfor %}
<div class="clear"></div>
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>


