---
layout: ibommaa
title: Home
---

{% if page.url == "/" %}

<!-- Featured
================================================== -->

        <h2><span>Latest Movies</span></h2>
    
    <div>

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
<div class="clear"></div>

{% endif %}

<!-- Posts Index
================================================== -->

<h2><span>Recent All Movies</span></h2>
    <div>

        {% for post in paginator.posts %}

        {% include ibomma.html %}

        {% endfor %}

    </div>
<div class="clear"></div>
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>


