<ul id="playlist" class="ep-select"><table id="eplist">
  <tbody>
 {% include ep1.html %} 
    {% if page.ep-name2 %}
 {% include ep2.html %}
 {% endif %}
{% if page.ep-name3 %}
 {% include ep3.html %}
 {% endif %}
{% if page.ep-name4 %}
 {% include ep4.html %}
 {% endif %}
{% if page.ep-name5 %}
 {% include ep5.html %}
 {% endif %}
{% if page.ep-name6 %}
 {% include ep6.html %}
 {% endif %}
{% if page.ep-name7 %}
 {% include ep7.html %}
 {% endif %}
{% if page.ep-name8 %}
 {% include ep8.html %}
 {% endif %}
{% if page.ep-name9 %}
 {% include ep9.html %}
 {% endif %}
{% if page.ep-name10 %}
 {% include ep10.html %}
 {% endif %}
{% if page.ep-name11 %}
 {% include ep11.html %}
 {% endif %}
{% if page.ep-name12 %}
 {% include ep12.html %}
 {% endif %}
{% if page.ep-name13 %}
 {% include ep13.html %}
 {% endif %}
{% if page.ep-name14 %}
 {% include ep14.html %}
 {% endif %}
{% if page.ep-name15 %}
 {% include ep15.html %}
 {% endif %}
  </tbody></table></ul>
<div class="clear"></div>