<div class="demo-wrapper">
<div id="search-container">
<input type="text" id="search-input" placeholder="Search Movie Here..">
<ul id="results-container"></ul>
</div>
</div>
<div class="slogan">
<h1>Where Quality &amp; Clarity Matters</h1>
<p>Watch / download All movies in an excellent quality at the smallest file size.<br>Exclusively designed &amp; developed for smartphones, tablets and PCs.</p>
<div class="cause"><a href="/"><span class="icon-star"></span>More Movies...</a></div>
<div style="padding-left:22px;padding-top:2px;"><svg version="1.0" xmlns="http://www.w3.org/2000/svg" height="15.000000pt" preserveAspectRatio="xMidYMid meet" width="185.000000pt" viewBox="0 0 234.000000 15.000000"><g transform="translate(0.000000,15.000000) scale(0.100000,-0.100000)" fill="#6ac045" stroke="none"><path d="M1175 134 c-16 -2 -151 -8 -300 -14 -253 -9 -326 -15 -550 -40 -49
-6 -133 -14 -187 -19 -53 -5 -106 -15 -118 -21 -20 -11 -21 -14 -7 -27 13 -14
34 -12 193 10 99 14 213 28 254 31 41 4 177 15 302 26 291 26 687 39 1198 41
243 1 389 5 365 10 -37 7 -1080 10 -1150 3z"></path></g></svg></div>
</div>
