---
layout: ibommaa
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div id="content" class="one-col">
<div class="bomma-l"><div class="single-poster" itemprop="image">
<img width="230" height="345" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" class="attachment-post-thumb size-post-thumb wp-post-image" alt="{{ page.title }}" itemprop="image"></div></div>
<div class="bomma-r"><div class="widget entry-header">
<div class="entry-title-movie">{{ page.title }}</div>
<!--<div class="entry-tags-movies"><span>2022</span></div>-->
 {% assign sortedCategories = page.categories | sort %}
{% for category in sortedCategories %}
<div class="entry-tags-movies"> {{ category }}</div>{% endfor %}
<div class="cast-and-director-div">
 {% assign sortedTags = page.tags | sort %}
{% if tag in sortedTags %}
<div class="cast-and-director">
<i class="icon-user"></i><span class="c-a-m-title">Cast: </span>#{{ tag }}</div>{% endif %}
<!--<div class="cast-and-director movies-director">
<i class="icon-user"></i><span class="c-a-m-title">Director: </span>Aparna Malladi</div>-->
</div>
</div></div>
<div class="ibomma-buttons">
 {% if page.download %}
 {% include trailer.html %}
 {% endif %}
 {% if page.download %}
<div class="button-download">{% include dw.html %}</div>
{% endif %}
</div>
<div class="clear"></div>
<div class="clear above-play"></div>
</div>
<div class="clear"></div>
<div class="entry-content">
{{content}}
</div>
</div>

<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first: 
https://search.google.com/structured-data/testing-tool/u/0/
================================================== -->
{% if page.rating %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
  },
  "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
  },
  "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "5"
  }
}
</script>
{% endif %}
