---
layout: ibommaa
---

<!-- Category title -->
<h1>Category: {{ page.category }}</h1>

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <article id="post-11368" class="post hentry">
<div class="post-thumb">
 {% if post.qua %}
 {% include qua.html %}
 {% endif %}
<a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">
{% if post.image %}
<img width="230" height="345" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}" class="entry-thumb wp-post-image" alt="" loading="lazy"> 
 {% endif %}
</a>
  {% if post.lag %}
 {% include lag.html %}
 {% endif %}
  </div>
<h2 class="entry-title">
<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
<!--<span>2022</span>-->
</h2>
  <div class="clear"></div>
</article>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next">Next</span>
  {% endif %}
</div>
